@media (max-width: 1399px)
    .nav
        &_logo
            width: 70px
            height: 30px
        &_menu
            &_link
                font-size: 14px
        &_button
            font-size: 12px

@media (max-width: 1199px)
    .nav
        &_menu
            &_link
                font-size: 12px
                margin-right: 25px
        &_button
            font-size: 10px

@media (max-width: 991px)
    .nav
        padding-top: 10px
        align-items: start
        &_menu
            &_link
                font-size: 11px
        &_button
            position: absolute
            top: 35px
            left: 50%
            transform: translateX(-50%)
            padding: 5px 0px

@media (max-width: 767px)
    .nav
        align-items: center
        padding-top: 0px
        &_logo
            width: 70px
            height: 30px
        &_menu
            display: none
        &_button
            position: static
            transform: translateX(0%)
            font-size: 9px
            padding: 5px
        .hamburger
            display: block
            width: 20px
            div
                display: block
                height: 2px
                width: 100%
                background-color: #fff
                margin-top: 4px
